
body {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
              url("handebol-banner.jpg") center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
  font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
  font-size: 3em;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #ffffff;
}


.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.links a {
  background: #fdfdfd;
  color: #000000;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 1.1em;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.links a:hover {
  background: white;
  color: #000000;
  transform: scale(1.05);
}


footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #ddd;
  font-size: 0.9em;
}


@media (max-width: 768px) {
  h1 {
    font-size: 2.2em;
  }

  .links a {
    font-size: 1em;
    padding: 12px 25px;
  }
}
